<%- include('include/_head'); -%>
    <div class="icons">
        <a href="/"> <i class="fa-solid fa-angles-left"> <span>All user</span></i></a>
    </div>
    <div class="container">
        <h1>Add New User</h1>
        <p>add the user then give all information fill in the input </p>
    </div>
    <div class="from-container">

        <%- include('include/_from'); -%>
    </div>
    <%- include('include/_footer'); -%>